/* Keegan Niekerk */

body {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 85%;
	background-color: #4766B8;
    margin: 0;
	padding: 0; 
}

#page {
	width: 720px;
	background-color: white;
	margin: 10px auto;
	border: 2px solid black;
	padding: 10px; 
}

#banner {
    margin-bottom: 1em;
	height: 85px;
	width: 300px;
}

#navigation {
	margin-top: 1em;
	height: 56px;
	width: 560px;
	background-color: white;
}

	
#sidebar {
	width: 150px;
	height: 350px;
	background-color: white;
	float: left; 
}

#main{
	margin-left: 150px;
	display: flex;
}

h2{
	text-align: center;
	color: #4766B8;
	padding-top: 40px;
}
	
/* the styles for the table*/

caption {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 10px;
	font-size: 150%;
	color: #4766B8; 
}

table{
	border-collapse: collapse;
}

thead{
	font-weight: bold;
}

td, thead {
	border: 1px solid black;
	padding: .2em .7em;
	font-size: 95%; 
}	


.alignRight {
	text-align: right; 
}

/* styles for the footer */
/* footer{
	margin-top: .5ems;
	border-top: 2px solid grey;
	padding-top: .7ems;
	clear: left;
} */

.copyright{
	text-align: right;
	margin-top: .5ems;
	border-top: 2px solid grey;
	padding-top: .7ems;
	clear: left;
}

input{
	width: 70px;
}
